#content
{
	height: 389px;
}
#contact
{
	padding-left: 162px;
}
#contact h1
{
	font-size: 11px;
	line-height: 18px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #F58220;
	letter-spacing: 1px;
}

#contact p
{
	padding: 0 0 1em 0;
	margin: 0;
	font-family: arial, sans-serif
	font-weight: normal;
	font-size: 11.5px;
	letter-spacing: .25px;
}
#photo_gallery
{
	display: block;
	visibility: visible;
}
#contact a
{
	text-decoration: none;
	color: #00325B;
}